/* Ignore following classes



  
  /* Classes that you might find useful */
  /* Note* These classes do not cover every possibloe case to build you flags, you will have to continue to add your own*/
  
  .flag {
    height: 300px;
    width: 500px;
    border-style: solid;
    margin-bottom: 5rem;
  }
  .greece {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 300px;
    width: 500px;
    border-style: solid;
    margin-bottom: 5rem;
  }
  .horiz {
    display: flex;
    flex-direction: row;
  }
  
  .twovert {
    height: 50%;
  }
  
  .threevert {
    height: 33.3%;
  }
  
  .threehoriz {
    width: 33.3%;
  }
  
  .skinny {
    height: 17.5%;
  }

  .bluecross {
      display: flex;
      flex-direction: row;
      background-color: rgb(0, 20, 137);
      height:  11.11%;
      width: 12%;
  }
  img {
  height: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
  

  .bluestripe {
      background-color: rgb(0, 20, 137);
      height: 11.11%;
      width: 80%;
  }
  .bluestripesh {
      background-color: rgb(0, 20, 137);
      height: 11.11%;
      width: 68%;
  }
  .whitestripe {
    background-color: white;
    height: 11.11%;
    width: 68%;
}
.whitestripef {
    background-color: white;
    height: 11.11%;
    width: 100%;
}
.bluestripef {
    background-color: rgb(0, 20, 137);
    height: 11.11%;
    width: 100%;
}
  
  .whitecross {
    background-color: white;
    height:  11.11%;
    width: 8%;
}
.whitecrossh {
    background-color: white;
    height:  11.11%;
    width: 32%;
}
.skinny2 {
    
    
    padding-left: 60px;
    
    
}
  
  .fat {
    height: 30%;
  }
  
  .circle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    left: 85px;
    top: 50px;
  }
  
  .eagle {
      
      height: 125px;
      background-color: white;
      padding-top: 80px;
      padding-left: 15px;
     
      
         
      
      
      
      
    
  }
  /* Colors/ Feel free to add your own! */
  
  .red {
    background-color: red;
  }
  
  .orange {
    background-color: orange;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  .romania {
      background-color: rgb(5, 5, 71);
  }
  .blue {
    background-color: blue;
  }
  
  .lightblue {
    background-color: lightblue;
  }
  
  .purple {
    background-color: purple;
  }
  
  .white {
    background-color: #fff;
  }